body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, UTMAvoBold, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : #333;
  padding                : 0 !important;
  margin                 : 0 !important;
  direction              : "ltr";
  font-size              : 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}