.card-img {
    width: 5rem;

    img {
        width: 100%;
    }
}

.card-text {
    font-weight: 400;

    .color-text {
        text-decoration: none;
        color          : black;
        font-weight    : 100;
        font-family    : 'Lato', sans-serif;

    }
}

.custom-btn {
    width        : 130px;
    height       : 40px;
    color        : #fff;
    border-radius: 5px;
    padding      : 10px 25px;
    font-family  : 'Lato', sans-serif;
    font-weight  : 500;
    background   : transparent;
    cursor       : pointer;
    transition   : all 0.3s ease;
    position     : relative;
    display      : inline-block;
    box-shadow   : inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-card {
    color        : #fff;
    border-radius: 5px;
    font-family  : 'Lato', sans-serif;
    font-weight  : 500;
    background   : transparent;
    cursor       : pointer;
    transition   : all 0.3s ease;
    position     : relative;
    display      : inline-block;
    outline      : none;
    min-height   : 112px;
}

.card {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    min-width       : 0;
    word-wrap       : break-word;
    background-color: #fff;
    background-clip : border-box;
    border          : 1px solid rgba(0, 0, 0, .125);
    border-radius   : .5rem
}

.card-flex {
    border: none;
    color : #000;
}

.card-flex:after {
    position : absolute;
    content  : "";
    width    : 0;
    height   : 100%;
    top      : 0;
    left     : 0;
    direction: rtl;
    z-index  : -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.card-flex:hover {
    color: #000;
}

.card-flex:hover:after {
    left : 0;
    right: auto;
    width: 100%;
}

.card-flex:active {
    top: 2px;
}