.font-blue {
    color: #0f6ec7 !important;
}

.custom-btn {
    width        : 180px;
    height       : 42px;
    color        : #fff;
    border-radius: 5px;
    padding      : 10px 25px;
    font-family  : 'Lato', sans-serif;
    font-weight  : 500;
    background   : transparent;
    cursor       : pointer;
    transition   : all 0.3s ease;
    position     : relative;
    display      : inline-block;
    box-shadow   : inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-create-app {
    background : rgb(247, 150, 192);
    background : radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding    : 0;
    border     : none;
}

.btn-create-app span {
    position: relative;
    display : block;
    width   : 100%;
    height  : 100%;
}

.btn-create-app:before,
.btn-create-app:after {
    position: absolute;
    content : "";
    height  : 0%;
    width   : 1px;
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-create-app:before {
    right     : 0;
    top       : 0;
    transition: all 500ms ease;
}

.btn-create-app:after {
    left      : 0;
    bottom    : 0;
    transition: all 500ms ease;
}

.btn-create-app:hover {
    background: transparent;
    color     : #76aef1;
    box-shadow: none;
}

.btn-create-app:hover:before {
    transition: all 500ms ease;
    height    : 100%;
}

.btn-create-app:hover:after {
    transition: all 500ms ease;
    height    : 100%;
}

.btn-create-app span:before,
.btn-create-app span:after {
    position: absolute;
    content : "";
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-create-app span:before {
    left      : 0;
    top       : 0;
    width     : 0%;
    height    : .5px;
    transition: all 500ms ease;
}

.btn-create-app span:after {
    right     : 0;
    bottom    : 0;
    width     : 0%;
    height    : .5px;
    transition: all 500ms ease;
}

.btn-create-app span:hover:before {
    width: 100%;
}

.btn-create-app span:hover:after {
    width: 100%;
}

.btn-search {
    position           : relative;
    right              : 20px;
    bottom             : 20px;
    border             : none;
    box-shadow         : none;
    width              : 130px;
    height             : 40px;
    line-height        : 42px;
    -webkit-perspective: 230px;
    perspective        : 230px;
}

.btn-search span {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    display   : block;
    position  : absolute;
    width     : 130px;
    height    : 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius     : 5px;
    margin            : 0;
    text-align        : center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    -webkit-transition: all .3s;
    transition        : all .3s;
}

.btn-search span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform       : rotateX(90deg);
    -moz-transform          : rotateX(90deg);
    transform               : rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin   : 50% 50% -20px;
    transform-origin        : 50% 50% -20px;
}

.btn-search span:nth-child(2) {
    -webkit-transform       : rotateX(0deg);
    -moz-transform          : rotateX(0deg);
    transform               : rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin   : 50% 50% -20px;
    transform-origin        : 50% 50% -20px;
}

.btn-search:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform   : rotateX(0deg);
    transform        : rotateX(0deg);
}

.btn-search:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color            : transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform   : rotateX(-90deg);
    transform        : rotateX(-90deg);
}