   .page-header-top {
       background         : url('../../assets/images/bg-egov-qn.png');
       background-size    : 110%;
       background-repeat  : no-repeat;
       background-position: right;

       .header-content {
           display        : flex;
           justify-content: space-between;
           padding-bottom : 33px;

           .page-logo {
               display        : flex;
               justify-content: flex-start;
               align-items    : center;

               .logo-default {
                   width       : 100px;
                   margin-right: 20px;
               }
           }

           .header-title {
               font-weight: 700;
               font-family: UTMAvoBold;
               color      : #9a5f4c;
               margin     : 0 0 10px;
           }

           .header-sub-title {
               font-weight   : 700;
               font-family   : UTMAvoBold;
               color         : #333;
               letter-spacing: .59px;
               margin        : 0;
           }
       }
   }

   .headMenu {
       display   : block;
       height    : 60px;
       background: #9a5f4c;
   }


   .uppercase {
       text-transform: uppercase;
   }

   /* Add a black background color to the top navigation */
   .topnav {
       display   : block;
       height    : 50px;
       background: #9a5f4c;
   }

   /* Style the links inside the navigation bar */
   .topnav a {
       float          : left;
       color          : #f2f2f2;
       text-align     : center;
       padding        : 18px 16px;
       text-decoration: none;
       font-size      : 17px;
   }

   /* Change the color of links on hover */
   .topnav a:hover {
       background-color: rgba(235, 224, 224, 0.918);
       color           : rgb(202, 39, 39);
       cursor          : pointer;
   }

   /* Add a color to the active/current link */
   .topnav a.active {
       background-color: #44af87;
       color           : white;
   }