.text-size {
  font-size: 18px;
}


.topnav {
  display   : block;
  height    : 60px;
  background: #9a5f4c;

  a {
    float          : left;
    color          : #f2f2f2;
    text-align     : center;
    padding        : 18px 16px;
    text-decoration: none;
    font-size      : 17px;

  }


  .dropdown-item {
    background: #9a5f4c;
  }


}